<!DOCTYPE html>
<html>
<head>
    <title>Excel Transformer</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>Upload Excel File and Select Short Names</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <br><br>
        <input type="text" id="searchBar" placeholder="Search short names">
        <br><br>
        <div id="shortNamesContainer"></div>
        <input type="button" id="transformButton" value="Transform">
    </form>
    <div id="downloadContainer"></div>
</body>
</html>
